@use 'base' as *;

.centered-container {
    @include flex-center;
    height: 100vh;
    margin: 0;
    background-color: $primary-color;
  
    .login-container {
      width: 500px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;

    h2 {
        font-family: $font-bodoni;
        margin-bottom: 10px;
    }
  
    form {
      label {
        display: block;
        margin-bottom: 5px;
        font-family: $font-mulish;
      }
  
      input {
        width: 90%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
      }
  
      button {
        padding: 10px 20px;
        background-color: $secondary-color;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  
    p {
      text-align: center;
      font-family: $font-mulish;

      a {
        color: $secondary-color;
  
        &:hover {
          color: darken($secondary-color, 10%);
        }
      }
    }
  }
}
  // Styles voor de modal
  #modal {
    display: none;
  }
  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    @include flex-center;

    .modal-content {
        background-color: $tertiary-color;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        h2{
            font-family: $font-bodoni;
        }
        p, label{
            font-family: $font-mulish; 
        }
        button.linkbtn{
            margin-top: 20px;
            padding: 10px 20px;
            background-color: $primary-color;
            border: 1px solid $tertiary-color;
            cursor: pointer;
            &:hover{
                background-color: $secondary-color;
                color: $tertiary-color;
            }
        }
        .close {
          color: #aaa;
          float: right;
          font-size: $font-md-size;
          font-weight: bold;
      
          &:hover,
          &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
  }
  
