@use 'base' as *;

.producten-titel{
    text-align: center;
    margin-top: 130px;
    padding: 20px;
    background-color: $primary-color;
    color: $secondary-color;
    h1{
        font-family: $font-bodoni;
    }
    p{
        font-family: $font-mulish;
    }
}
.filter {
    @include flex-center;
    padding: 20px;
    font-family: $font-mulish;
    .prijs-filter{
        margin-left: 10px;
    }
}
.product-grid {
    padding: 0 50px;
    @include flex-center;
    flex-wrap: wrap;
    margin: 0 auto;
    .product-row {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        @include flex-center; 
        flex-wrap: wrap; 
        margin-bottom: 20px;
        .product-card {
            width: 30%;
            box-sizing: border-box;
            margin: 10px 0;
            text-align: center;
            h2 {
              font-size: $font-sm-size;
              margin-bottom: 10px;
              font-family: $font-bodoni;
            }
            img {
              max-width: 70%;
              height: auto;
              display: block;
              margin-bottom: 10px;
              margin: 0 auto;

            }
            p {
              font-family: $font-mulish;
              margin: 0;
            }
            .prijskleur{
              color: $secondary-color;
            }
            a{
              color: #000;
              display: block;
            }
          }
      }
      @media (max-width: 670px) {
        .product-row {
          .product-card {
            width: 100%;
            img{
              max-width: 50%;
            }
          }
        }
      }  
}
  .pagination {
    text-align: center;
    font-family: $font-mulish;
    margin: 20px 0;
    a {
      margin: 0 5px;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }